body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#form-container {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 90vh;
  width: 100%;
  gap: 3rem;
}
#form-container form {
  width: min(400px, 90%);
  padding: 2rem;
  background: #f4f4f4;
}
